/* searchbar
.searchbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.search-prompt {
    font-weight: bold;
    font-size: 13px;
}

.searchbox {
    display: flex;
    border-bottom: 1px solid black;
}

.searchbox input {
    border: none;
    
}

.searchbox  input:focus {
    outline: none;
    border: none;
}

@media (min-width: 576px) {

}
 
@media (min-width: 768px) {

     
}
 
@media (min-width: 992px) {

} */