/* delete account confirmation */
.delete-up {
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-content {
    background-color: white;
    width: 270px;
    height: 180px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    padding: 20px 15px;
}

.delete-header {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
}

.delete-item {
    font-weight: bold;
}

.warning-content-container {
    display: flex;
    margin-top: 8px;
}

.warning-side {
    background-color: rgba(250,111,64,0.7);
    width: 3px;
}

.warning-content {
    background-color: rgba(255,234,217,1);
    width: 243px;
    padding: 6px 10px
}

.warning-header-content {
    display: flex;
    gap: 5px
}

.warning-icon {
    color: rgba(114,28,36,1);
}

.warning-header {
    color: rgba(114,28,36,1);
    font-weight: bold;
}

.warning-description {
    color: rgba(204,114,87,1);
    margin-top: 5px;
}

.warning-action {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 15px;
}

#warning-action-cancel {
    background-color: transparent;
}

@media (min-width: 576px) {
    /* delete account confirmation */
    .delete-content {
        width: 340px;
        height: 210px;
        padding: 22px 14px;
    }

    .delete-header {
        font-size: 14px;
        margin-bottom: 12px;
    }

    .warning-content-container {
        margin-top: 8px;
    }

    .warning-side {
        width: 4px;
    }

    .warning-content {
        width: 305px;
        padding: 7px 12px
    }

    .warning-header-content {
        gap: 6px
    }

    .warning-description {
        margin-top: 6px;
    }

    .warning-action {
        gap: 6px;
        margin-top: 15px;
    }
}

@media (min-width: 768px) {
    /* delete account confirmation */
    .delete-content {
        width: 380px;
        height: 230px;
        padding: 25px 17px;
    }

    .delete-header {
        font-size: 14px;
        margin-bottom: 12px;
    }

    .warning-content-container {
        margin-top: 10px;
    }

    .warning-side {
        width: 4px;
    }

    .warning-content {
        width: 342px;
        padding: 8px 14px
    }

    .warning-header-content {
        gap: 7px
    }

    .warning-description {
        margin-top: 7px;
    }

    .warning-action {
        gap: 7px;
        margin-top: 20px;
    }
}

@media (min-width: 992px) {
    /* delete account confirmation */
    .delete-content {
        width: 420px;
        height: 260px;
        padding: 30px 20px;
    }

    .delete-header {
        font-size: 15px;
        margin-bottom: 12px;
    }

    .warning-side {
        width: 5px;
    }

    .warning-content {
        width: 381px;
        padding: 10px 16px
    }

    .warning-header-content {
        gap: 8px
    }

    .warning-description {
        margin-top: 8px;
    }

    .warning-action {
        gap: 10px;
        margin-top: 25px;
    }
}