body {
    margin: 0;
    font-family: 'Roboto';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 9px
}

/* SHARED */
/* overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

/* error page */
.error-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px 20%;
    text-align: center;
}

.error-icon {
    font-size: 60px;
    color: rgba(0,0,0,0.4);
}

.error-header {
    font-weight: bold;
    font-size: 13px;
}

.error-text {
    color: rgba(0, 0, 0, 0.6);
    margin: 10px 0px 30px 0px;
}

/* logo */
#logo {
    font-size: 14px;
    font-weight: bold;
}

/* form */
form {
    width: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 8px
}

label {
    color: rgba(0, 0, 0, 0.6);
}

input {
    width: 100%;
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.input-half-width {
    display: flex;
    gap: 10px
}

.input-half-width-items {
    width: 50%;
}

.submit-button-container {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

.submit-button {
    width: 100% !important;
    font-weight: bold;
}

.form-header {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
}

.form-prompt {
    margin-top: 8px;
}

.form-action {
    color: rgba(241,101,101,1);
    font-weight: bold;
    text-decoration: none;
}

/* form error message */
.form-message {
    color: rgba(241,101,101,1);
    font-size: 7px;
    line-height: 8px;
    margin-top: 2px
}

.form-icon {
    margin-right: 2px
}

.form-error-box {
    display: flex;
    gap: 3px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgba(114,28,36,1);
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    padding: 7px;
    height: 25px
}

.form-success-box {
    display: flex;
    gap: 3px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgba(21,87,36,1);
    background-color: #d4edda;
    position: relative;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    padding: 7px;
    height: 25px;
}

/* buttons */
.button-border,
.button-full {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    width: 55px;
    height: 25px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.button-full {
    background-color: black;
    color: white;
}

.button-full .link-items {
    color: white;
}

.button-border .link-items {
    transition: color 0.3s ease;
}

.button-border:hover,
.button-full:hover {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.6);
    border: 1px solid rgba(128, 128, 128, 0.6);
    color: white
}

.button-border .link-items:hover {
    color: white
}

/* NAVBAR COMPONENT */
/* nav */
.link-items {
    color: black;
    text-decoration: none;
}

.link-items:hover {
    cursor: pointer;
}

.nav-login {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 1px solid black;
    padding: 20px 25px 5px 25px;
    z-index: 101;
}

/* NAVBAR COMPONENT */
/* navbar row for login */
.login-items {
    display: flex;
    align-items: flex-end;
    gap: 10px
}

/* navbar row for tabs */
.content-items {
    display: flex;
    align-items: center;
    gap: 15px
}

/* menu icon */
.nav-menu {
    display: flex;
    align-items: center;
}

.nav-menu:hover {
    cursor: pointer;
}

.menu-icon {
    height: 17px;
    width: 17px
}

/* tabs */
#tabs-large {
    display: none;
}

/* SIDE NAV COMPONENT */
.user-side-nav {
    display: none;
}

.side-nav-wrapper {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100vw;
    bottom: 0;
    left: 0;
    background-color: white;
    padding: 13px;
    z-index: 100;
    border-top: 1px solid rgba(0,0,0,0.1);
    gap: 50px;
    color: rgba(0,0,0,0.5)
}

.side-nav-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: color 0.3s ease;
}

.side-nav-items:hover {
    cursor: pointer;
    color: rgba(241, 101, 101, 1);
}

.side-nav-icon {
    font-size: 15px;
}

.active-page {
    color: rgba(241, 101, 101, 1);
}

/* SELLER SIGNUP COMPONENT */
.signup-background {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 590px;
}

.signup-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 590px;
    z-index: 100;
}

.signup-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 40px 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
    width: 300px;
}

/* LOGIN COMPONENT */
.login-background {
    background-size: cover;
    background-position: 50% 10%;
    width: 100%;
    height: 590px;
}

.login-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 590px;
    z-index: 100;
}

.seller-login-background {
    background-image: url('../src/assets/images/seller/login.jpg');
}

.login-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 40px 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
    width: 250px;
}

.page-header {
    font-size: 12px;
    font-weight: bold;
}

/* CARDS */
.product-cards {
    padding: 5px;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 5px;
    height: 220px;
}

.listing-action {
    display: flex;
    gap: 7px;
    background-color: white;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
    padding: 2px 10px;
    border-radius: 999px;
    margin: 8px 0px 3px 0px;
}

.listing-action-icon {
    font-size: 8px;
    transition: color 0.3s ease
}

.listing-action-icon:hover {
    cursor: pointer;
    color: rgba(241, 101, 101, 1);
}

/* PRODUCT COMPONENT */
.product-wrapper {
    margin: 40px 60px 120px 60px;
    height: 60vh
}

.product-image-wrapper {
    display: flex;
    justify-content: center;
}

.product-image {
    width: 150px;
    height: 200px;
    object-fit: contain;
    margin-bottom: 10px
}

.product-name {
    font-weight: bold;
    font-size: 12px;
}

.skin-type-badges {
    display: flex;
    gap: 10px;
    margin-bottom: 20px
}

.skin-type-badge {
    border-radius: 4px;
    padding: 1px 10px;
    font-size: 7px;
    color: white;
    font-weight: bold;
}

.product-details {
    margin-top: 10px;
}

.product-header {
    font-weight: bold;
} 

/* PRODUCT COMPONENT */
.quantity-box {
    width: 20px;
    height: 20px;
    text-align: center;
}

.quantity-adjust {
    display: flex;
    align-items: center;
    gap: 5px
}

.quantity-action {
    transition: color 0.3s ease
}

.quantity-action:hover {
    cursor: pointer;
    color: rgba(241, 101, 101, 1);
}

/* USER LOGIN COMPONENT */
.user-login-background {
    background-image: url('../src/assets/images/main/login.jpg');
}

/* SHOP PRODUCT COMPONENT */
.shop-wrapper {
    margin: 40px 50px
}

.shop-header {
    margin-bottom: 15px
}

.shop-product-card {
    padding: 5px;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: background-color 0.5s ease;
}

.shop-product-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.shop-product-image {
    width: 100%;
    height: 120px;
    overflow: hidden;
}

.shop-product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.shop-product-header-wrapper {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.shop-product-name {
    font-size: 8px;
    color: rgba(0, 0, 0, 0.5);
}

.add-to-bag-button {
    margin: 5px 5px 10px 5px;
    width: calc(100% - 10px);
}

/* ORDER COMPONENT */
.product-container {
    display: flex;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 5px rgba(205, 205, 205, 0.1);
    gap: 15px
}

.order-image img {
    width: 50px;
    height: 60px
}

.order-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.order-quantity-cost {
    display: flex;
    gap: 20px;
}

.order-cost {
    font-weight: bold;
}

.order-container {
    background-color: rgba(205, 205, 205, 0.1);
    border-radius: 10px;
    padding: 8px;
}

@media (min-width: 576px) {
    body {
        font-size: 10px
    }

    /* SHARED */
    /* logo */
    #logo {
        font-size: 15px;
    }

    /* error page */
    .error-icon {
        font-size: 60px;
    }
    
    .error-header {
        font-size: 14px;
    }

    /* form */
    .form-container {
        gap: 12px
    }

    input {
        height: 28px;
    }

    .input-half-width {
        gap: 12px
    }

    .submit-button-container {
        margin-top: 12px;
    }

    .form-header {
        font-size: 15px;
        margin-bottom: 10px;
    }

    /* form error message */
    .form-message {
        font-size: 8px;
        line-height: 9px
    }

    .form-error-box,
    .form-success-box {
        height: 28px;
        padding: 10px;
    }

    .form-icon {
        margin-right: 3px
    }

    /* buttons */
    .button-border,
    .button-full {
        width: 65px;
        height: 28px;
    }

    /* NAVBAR COMPONENT */
    /* nav */
    .nav-login {
        padding: 25px 30px 10px 30px;
    }

    /* menu button */
    .nav-menu {
        display: none;
    }

    /* tabs */
    #tabs-large {
        display: flex;
    }

    /* NAV CONTENT */
    .content-wrap {
        display: flex;
        width: 100%;
    }

    .content-nav {
        width: 170px;
    }

    .content-body {
        width: calc(100% - 170px);
    }

    /* SIDE NAV COMPONENT */
    .user-side-nav {
        display: block;
    }

    .side-nav-wrapper {
        flex-direction: column;
        justify-content: flex-start;
        left: 0; 
        width: 170px;
        height: 100vh;
        padding: 100px 0px 0px 0px;
        border-top: transparent;
        gap: 0px;
    }

    .side-nav-items {
        flex-direction: row;
        gap: 10px;
        font-size: 13px;
        width: 170px;
        padding: 11px 0px 11px 30px;
        border-radius: 0px 10px 10px 0px;
        transition: background-color 0.3s ease;
    }

    .side-nav-items:hover {
        cursor: pointer;
        background-color: rgba(193,185,176,0.7);
        color: white;
    }

    .active-page {
        background-color: rgba(193,185,176,0.4);
    }

    .side-nav-icon {
        font-size: 15px;
    }

    /* SELLER SIGNUP COMPONENT */
    .signup-background {
        height: 600px;
    }

    .signup-form-container {
        height: 600px;
    }

    .signup-form {
        width: 400px;
        padding: 40px;
    }

    /* LOGIN COMPONENT */
    .login-background {
        height: 570px;
    }

    .login-form-container {
        height: 570px;
    }

    .login-form {
        width: 300px;
        padding: 40px;
    }

    .page-header {
        font-size: 13px;
    }

    /* CARDS */
    .product-cards {
        padding: 5px 10px;
    }

    .product-card {
        padding: 7px;
        height: 230px;
    }

    .listing-action {
        gap: 8px;
        padding: 2px 13px;
        margin: 10px 0px 3px 0px;
    }

    .listing-action-icon {
        font-size: 9px;
    }

    /* PRODUCT COMPONENT */
    .product-wrapper {
        margin: 40px 60px;
        height: 70vh
    }

    .product-image {
        width: 170px;
        height: 220px;
        margin-bottom: 15px;
    }

    .product-name {
        font-size: 13px;
    }

    .skin-type-badges {
        gap: 10px;
        margin-bottom: 25px;
    }

    .skin-type-badge {
        font-size: 8px;
    }

    .product-details {
        margin-top: 12px;
    }

    /* PRODUCT COMPONENT */
    .quantity-box {
        width: 22px;
        height: 22px;
    }

    .quantity-adjust {
        gap: 7px
    }

    /* SHOP PRODUCT COMPONENT */
    .shop-product-wrapper {
        margin: 40px 60px
    }

    .shop-product-card {
        padding: 5px;
    }

    .shop-product-image {
        height: 130px;
    }

    .shop-product-name {
        font-size: 9px;
    }

    .add-to-bag-button {
        margin: 5px 5px 15px 5px;
        width: calc(100% - 10px);
    }

    /* ORDER COMPONENT */
    .product-container {
        padding: 12px;
        gap: 17px
    }

    .order-image img {
        width: 60px;
        height: 70px
    }

    .order-quantity-cost {
        gap: 22px;
    }

    .order-container {
        padding: 15px;
    }
}

@media (min-width: 768px) {
    body {
        font-size: 11px
    }

    /* SHARED */
    /* logo */
    #logo {
        font-size: 16px;
    }

    /* error page */
    .error-wrapper {
        margin: 0px 30%;
    }

    .error-icon {
        font-size: 70px;
    }
    
    .error-header {
        font-size: 15px;
    }

    /* form */
    .form-container {
        gap: 12px
    }

    input {
        height: 32px;
    }

    .submit-button {
        height: 32px !important;
    }

    .form-header {
        font-size: 16px;
        margin-bottom: 12px;
    }

    .form-prompt {
        margin-top: 10px;
    }

    /* form error message */
    .form-message {
        font-size: 9px;
        line-height: 10px
    }

    .form-error-box,
    .form-success-box {
        gap: 4px;
        height: 30px;
        padding: 13px;
    }

    .form-icon {
        margin-right: 4px
    }

    /* buttons */
    .button-border,
    .button-full {
        width: 67px;
        height: 30px;
    }

    /* NAVBAR COMPONENT */
    /* nav */
    .nav-login {
        padding: 25px 30px 10px 30px;
    }

    /* navbar row for login */
    .login-items {
        gap: 15px
    }

    /* navbar row for tabs */
    .content-items {
        gap: 17px
    }

    /* NAV CONTENT */
    .content-nav {
        width: 180px;
    }

    .content-body {
        width: calc(100% - 180px);
    }

    /* SIDE NAV COMPONENT */
    .side-nav-wrapper {
        width: 180px;
        padding: 110px 0px 0px 0px;
    }

    .side-nav-items {
        gap: 12px;
        font-size: 14px;
        width: 180px;
        padding: 12px 0px 12px 32px
    }


    .side-nav-icon {
        font-size: 16px;
    }

    /* SELLER SIGNUP COMPONENT */
    .signup-background {
        height: 620px;
    }

    .signup-form-container {
        height: 620px;
    }

    .signup-form {
        width: 400px;
        padding: 30px 35px;
    }

    /* LOGIN COMPONENT */
    .login-background {
        height: 560px;
    }

    .login-form-container {
        height: 560px;
    }

    .login-form {
        padding: 30px 35px;
    }

    .page-header {
        font-size: 14px;
    }

    /* CARDS */
    .product-cards {
        padding: 5px 7px;
    }

    .product-card {
        padding: 7px;
        height: 250px;
    }

    .listing-action {
        gap: 10px;
        padding: 2px 15px;
        margin: 12px 0px 3px 0px;
    }

    .listing-action-icon {
        font-size: 10px;
    }

    /* PRODUCT COMPONENT */
    .product-wrapper {
        margin: 60px 60px;
        height: 50vh
    }

    .product-image {
        width: 180px;
        height: 230px;
        margin-bottom: 0px;
    }

    .product-name {
        font-size: 14px;
    }

    .skin-type-badges {
        gap: 12px;
        margin-bottom: 27px;
    }

    .skin-type-badge {
        font-size: 9px;
    }

    .product-details {
        margin-top: 14px;
    }

    /* PRODUCT COMPONENT */
    .quantity-box {
        width: 24px;
        height: 24px;
    }

    .quantity-adjust {
        gap: 9px
    }

    /* SHOP PRODUCT COMPONENT */
    .shop-product-wrapper {
        margin: 45px 60px
    }

    .shop-product-card {
        padding: 5px;
    }

    .shop-product-image {
        height: 160px;
    }

    .shop-product-name {
        font-size: 10px;
    }

    .add-to-bag-button {
        margin: 7px 5px 15px 5px;
        width: calc(100% - 10px);
    }

    /* ORDER COMPONENT */
    .product-container {
        padding: 15px;
        gap: 20px
    }

    .order-image img {
        width: 70px;
        height: 80px
    }

    .order-quantity-cost {
        gap: 25px;
    }

    .order-container {
        padding: 16px;
    }
}

@media (min-width: 992px) {
    body {
        font-size: 12px
    }

    /* SHARED */
    /* logo */
    #logo {
        font-size: 17px;
    }

    /* error page */
    .error-icon {
        font-size: 80px;
    }
    
    .error-header {
        font-size: 16px;
    }

    /* form */
    input {
        height: 34px;
    }

    .submit-button {
        height: 34px !important;
    }

    .form-header {
        font-size: 17px;
    }

    .form-prompt {
        margin-top: 12px;
    }

    /* buttons */
    .button-border,
    .button-full {
        width: 70px;
        height: 32px;
    }

    /* form error message */
    .form-message {
        font-size: 10px;
        line-height: 11px
    }

    .form-error-box,
    .form-success-box {
        height: 28px;
        padding: 15px;
    }

    .form-icon {
        margin-right: 5px
    }

    /* NAVBAR COMPONENT */
    /* nav */
    .nav-login {
        padding: 30px 40px 10px 40px;
    }

    .login-items {
        gap: 20px
    }

    /* NAV CONTENT */
    .content-nav {
        width: 190px;
    }

    .content-body {
        width: calc(100% - 190px);
    }

    /* SIDE NAV COMPONENT */
    .side-nav-wrapper {
        width: 190px;
        padding: 120px 0px 0px 0px;
    }

    .side-nav-items {
        gap: 13px;
        font-size: 15px;
        width: 190px;
        padding: 13px 0px 13px 33px
    }


    .side-nav-icon {
        font-size: 17px;
    }

    /* SELLER SIGNUP COMPONENT */
    .signup-background {
        height: 640px;
    }

    .signup-form-container {
        height: 640px;
    }

    .signup-form {
        width: 420px;
    }

    /* LOGIN COMPONENT */
    .login-form {
        width: 320px;
    }

    .page-header {
        font-size: 15px;
    }

    /* PRODUCT COMPONENT */
    .product-wrapper {
        margin: 60px 80px
    }

    .product-image {
        width: 200px;
        height: 250px;
    }

    .product-name {
        font-size: 15px;
    }

    .skin-type-badge {
        font-size: 10px;
    }

    .product-details {
        margin-top: 15px;
    }

    /* PRODUCT COMPONENT */
    .quantity-box {
        width: 25px;
        height: 25px;
    }

    .quantity-adjust {
        gap: 10px
    }

    /* SHOP PRODUCT COMPONENT */
    .shop-product-wrapper {
        margin: 50px 70px
    }

    .shop-product-card {
        padding: 5px;
    }

    .shop-product-image {
        height: 140px;
    }

    .shop-product-name {
        font-size: 11px;
    }

    .add-to-bag-button {
        margin: 15px 5px 15px 5px;
        width: calc(100% - 10px);
    }

    /* ORDER COMPONENT */
    .product-container {
        gap: 25px
    }

    .order-image img {
        width: 80px;
        height: 90px
    }

    .order-quantity-cost {
        gap: 30px;
    }
}