body {
    margin: 0;
    font-family: 'Roboto';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 9px
}

/* SHARED */
/* logo */
#logo {
    font-size: 14px;
    font-weight: bold;
}

/* overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100;
}

/* form */
form {
    width: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 8px
}

label {
    color: rgba(0, 0, 0, 0.6);
}

input {
    width: 100%;
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.input-half-width {
    display: flex;
    gap: 10px
}

.input-half-width-items {
    width: 50%;
}

.submit-button-container {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

.submit-button {
    width: 100% !important;
    font-weight: bold;
}

.form-header {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
}

.form-prompt {
    margin-top: 8px;
}

.form-action {
    color: rgba(241,101,101,1);
    font-weight: bold;
    text-decoration: none;
}

/* form error message */
.form-message {
    color: rgba(241,101,101,1);
    font-size: 7px;
    line-height: 8px;
    margin-top: 2px
}

.form-icon {
    margin-right: 2px
}

.form-error-box {
    display: flex;
    gap: 3px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgba(114,28,36,1);
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    padding: 7px;
    height: 25px
}

.form-success-box {
    display: flex;
    gap: 3px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgba(21,87,36,1);
    background-color: #d4edda;
    position: relative;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    padding: 7px;
    height: 25px;
}

/* buttons */
.button-border,
.button-full {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    width: 55px;
    height: 25px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.button-full {
    background-color: black;
    color: white;
}

.button-full .link-items {
    color: white;
}

.button-border .link-items {
    transition: color 0.3s ease;
}

.button-border:hover,
.button-full:hover {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.6);
    border: 1px solid rgba(128, 128, 128, 0.6);
    color: white
}

.button-border .link-items:hover {
    color: white
}

.upload-button {
    border: 1px solid rgba(128, 128, 128, 1);
    color: rgba(128, 128, 128, 1);
    background-color: rgba(128, 128, 128, 0.05);
    border-radius: 5px;
    padding: 2px 5px;
    font-size: 8px;
}

/* FOOTER COMPONENT */
footer {
    background-color: black;
    color: white;
    padding: 20px 40px;
    font-size: 8px;
}

.footer-head {
    font-weight: bold;
    font-size: 9px;
    margin-bottom: 5px
}

.footer-details {
    display: flex;
    flex-direction: column;
    gap: 2px
}

.footer-details-list:hover {
    cursor: pointer;
    font-weight: bold;
}

/* NAVBAR COMPONENT */
/* nav */
.link-items {
    color: black;
    text-decoration: none;
}

.nav-login {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 1px solid black;
    padding: 20px 25px 5px 25px;
    z-index: 101;
}

/* CTA COMPONENT */
.cta-background {
    background-image: url('../src/assets/images/home/hero-image.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
}

.cta-content-wrapper {
    display: flex;
    align-items: center;
    height: 250px;
    padding: 0px 30px
}

.cta-header {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px
}

.cta-button {
    background-color: rgba(241, 101, 101, 1);
    border: 1px solid rgba(241, 101, 101, 1);
    margin-top: 20px;
}

/* NAVBAR COMPONENT */
/* navbar row for login */
.site-nav {
    position: sticky;
    top: 0;
    background-color: white;
}

.login-items {
    display: flex;
    align-items: flex-end;
    gap: 10px
}

/* navbar row for tabs */
.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 25px;
}

.content-items {
    display: flex;
    gap: 15px
}

/* menu icon */
.nav-menu {
    display: flex;
    align-items: center;
}

.nav-menu:hover {
    cursor: pointer;
}

.menu-icon {
    height: 17px;
    width: 17px
}

/* tabs */
#tabs-large {
    display: none;
}

.content-tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    right: -100%; 
    top: 0;
    position: fixed;
    width: 250px; 
    height: 100%;
    background-color: white;
    transition: right 0.5s ease-in-out; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
    z-index: 1000;
}

.content-tabs.dropdown-open {
    right: 0;
}

.tab-items {
    display: flex;
    justify-content: center;
    padding: 15px 0px;
    width: 100%;
    transition: background-color 0.5s ease;
}

.tab-items:hover {
    background-color: rgba(193,185,176,0.7);
    color: white;
    cursor: pointer;
    font-weight: bold; 
}

/* nav exit */
.nav-exit {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 20px 30px 20px 0px
}

.nav-exit-icon:hover {
    cursor: pointer;
}

/* nav login icon */
.nav-profile-icon {
    font-size: 17px;
}

.nav-profile-icon:hover {
    cursor: pointer;
    color: rgba(0,0,0,0.5);
}

.nav-dropdown-content {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 45px;
    right: 15px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 80px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.dropdown-item {
    padding: 5px 10px;
    text-align: center;
    transition: background-color 0.3s ease
}

.dropdown-item:hover {
    background-color: rgba(193,185,176,0.7);
    color: white;
    cursor: pointer;
    font-weight: bold; 
}

/* cart and search */
.cart-icon {
    width: 17px;
    height: 17px
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 999px;
    width: 22px;
    height: 22px
}

.search-icon {
    color: white;
}

.search-icon:hover {
    cursor: pointer;
}

/* search icon toggle */
.searchbar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
}
  
.searchbar-open {
    height: 100px;
}
  
.search-prompt {
    font-weight: bold;
    font-size: 13px;
}
  
.searchbox {
    display: flex;
    border-bottom: 1px solid black;
}
  
.searchbox input {
    border: none;
}
  
.searchbox input:focus {
    outline: none;
    border: none;
} 

.nav-container {
    position: relative;
}

.searchbar-container {
    background-color: white;
    position: fixed;
    top: 69.5px;
    right: 0;
    z-index: 1000;
    width: 100%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1); 
}

/* SIDE NAV COMPONENT */
.side-nav-wrapper {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100vw;
    bottom: 0;
    left: 0;
    background-color: white;
    padding: 13px;
    z-index: 100;
    border-top: 1px solid rgba(0,0,0,0.1);
    gap: 50px;
    color: rgba(0,0,0,0.5)
}

.side-nav-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: color 0.3s ease;
}

.side-nav-items:hover {
    cursor: pointer;
    color: rgba(241, 101, 101, 1);
}

.side-nav-icon {
    font-size: 15px;
}

.activePage {
    color: rgba(241, 101, 101, 1);
}

/* SELLER NAVBAR COMPONENT */
#seller-platform-logo {
    font-size: 12px
}

/* SELLER SIGNUP COMPONENT */
.seller-signup-background {
    background-image: url('../src/assets/images/seller/signup.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 590px;
}

.signup-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 590px;
    z-index: 100;
}

.signup-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 40px 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
    width: 300px;
}

/* LOGIN COMPONENT */
.seller-login-background {
    background-image: url('../src/assets/images/seller/login.jpg');
    background-size: cover;
    background-position: 50% 10%;
    width: 100%;
    height: 590px;
}

.login-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 40px 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
    width: 250px;
}

.forgot-password {
    color: rgba(0, 0, 0, 0.6);
}

.forgot-password:hover {
    color: rgba(241,101,101,1);
}

/* VERIFY COMPONENT */
.verify-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 100px;
}

.verify-header {
    font-size: 14px;
    font-weight: bold;
    margin: 10px;
}

.verify-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.verify-email {
    font-weight: bold;
    margin-bottom: 35px;
}

.verify-form {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.verify-digit-input {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.verify-digit-input input {
    height: 30px;
    width: 25px;
    text-align: center;
}

.verify-button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/* PROFILE COMPONENT */
.profile-wrapper {
    display: flex;
    justify-content: center;
    margin: 50px 0px 80px 0px;
}

.profile-picture {
    font-size: 60px;
}

.profile-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid rgba(128, 128, 128, 0.5);
}

.picture-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.profile-details-section {
    width: 65vw;
}

.section-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 5px;
    height: 25px;
    font-weight: bold;
    color: white;
    font-size: 11px;
    margin-top: 30px;
}

.section-items {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.profile-details-items {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 0px 20px;
}

.section-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.1);
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.details-icon {
    font-size: 10px;
}

.section-details-header {
    font-size: 7px;
    color: rgba(0, 0, 0, 0.3);
    font-style: italic;
}

.update-button-div {
    display: flex;
    justify-content: center;
    gap: 5px
}

.cancel-button {
    width: 80px;
    margin-top: 20px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    color: rgba(128, 128, 128, 0.5);
}

.update-button {
    width: 80px;
    margin-top: 20px;
    color: rgba(21,87,36,1);
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
}

.delete-button {
    width: 80px;
    margin-top: 20px;
    color: rgba(114,28,36,1);
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}

.profile-input {
    width: 100px;
    height: 15px;
    border: none;
    padding: 0px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-radius: 0;
    transition: border-color 0.3s ease;
}

.profile-input:focus {
    outline: none;
    border-bottom: 1px solid rgba(0,0,204,0.2);
}

.profile-update-error {
    margin-top: 30px
}

/* delete account confirmation */
.delete-account-up {
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-account-content {
    background-color: white;
    width: 270px;
    height: 180px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    padding: 20px 15px;
}

.delete-header {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
}

.delete-item {
    font-weight: bold;
}

.warning-content-container {
    display: flex;
    margin-top: 8px;
}

.warning-side {
    background-color: rgba(250,111,64,0.7);
    width: 3px;
}

.warning-content {
    background-color: rgba(255,234,217,1);
    width: 243px;
    padding: 6px 10px
}

.warning-header-content {
    display: flex;
    gap: 5px
}

.warning-icon {
    color: rgba(114,28,36,1);
}

.warning-header {
    color: rgba(114,28,36,1);
    font-weight: bold;
}

.warning-description {
    color: rgba(204,114,87,1);
    margin-top: 5px;
}

.warning-action {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 15px;
}

.warning-action-cancel {
    background-color: transparent;
}

/* LISTINGS COMPONENT */
.listings-wrapper {
    margin: 40px;
}

.page-header {
    font-size: 12px;
    font-weight: bold;
}

.listings-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.listings-tabs {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 2px;
    background-color: rgba(0,0,0,0.1);
    padding: 3px;
    border-radius: 999px;
}

.listing-tab {
    width: 60px;
    padding: 3px 15px;
    border-radius: 999px;
    transition: background-color 0.3s ease
}

.listing-tab:hover {
    background-color: rgba(238,238,238,1);
    cursor: pointer;
}

.active-listing-tab {
    background-color: white;
}

.add-listing-icon {
    font-size: 15px;
    transition: color 0.3s ease;
    color: rgba(241, 101, 101, 1);
}

.add-listing-icon:hover {
    cursor: pointer;
    color: rgba(241, 101, 101, 0.8);
}

/* CARDS */
.product-cards {
    padding: 5px;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 5px;
    height: 220px;
}

.listing-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.listing-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.card-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px 0px 2px 5px;
}

.listing-name {
    font-weight: bold;
    font-size: 10px;
}

.listing-detail {
    font-size: 8px;
    color: rgba(0, 0, 0, 0.5);
}

.listing-action {
    display: flex;
    gap: 7px;
    background-color: white;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
    padding: 2px 10px;
    border-radius: 999px;
    margin: 8px 0px 3px 0px;
}

.listing-action-icon {
    font-size: 8px;
    transition: color 0.3s ease
}

.listing-action-icon:hover {
    cursor: pointer;
    color: rgba(241, 101, 101, 1);
}

/* PRODUCT COMPONENT */
.product-wrapper {
    margin: 40px 60px 120px 60px;
    height: 60vh
}

.product-image-wrapper {
    display: flex;
    justify-content: center;
}

.product-image {
    width: 150px;
    height: 200px;
    object-fit: contain;
    margin-bottom: 10px
}

.product-name {
    font-weight: bold;
    font-size: 12px;
}

.skin-type-badges {
    display: flex;
    gap: 10px;
    margin-bottom: 20px
}

.skin-type-badge {
    border-radius: 4px;
    padding: 1px 10px;
    font-size: 7px;
    color: white;
    font-weight: bold;
}

.product-details {
    margin-top: 10px;
}

.product-header {
    font-weight: bold;
} 

/* actions */
.product-actions {
    display: flex;
    flex-direction: column;
    gap: 3px;
    position: fixed;
    top: 150px;
    right: 30px;
    background-color: white;
    border-radius: 999px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
    padding: 10px 5px;
}

.no-listing {
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.5);
}

/* ADD PRODUCT COMPONENT */
.add-product-form-wrapper {
    margin: 40px 50px 120px 50px
}

.add-product-form {
    margin-top: 20px;
    gap: 15px
}

.add-product-image {
    width: 50px;
    height: 70px;
    object-fit: contain;
    margin-top: 2px
}

.category-select {
    width: 100%;
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.skin-type-options {
    display: flex;
    gap: 10px
}

.skin-type-option {
    border: 1px solid rgba(128, 128, 128, 1);
    border-radius: 5px;
    padding: 1px 5px;
    text-align: center;
}

.skin-type-option:hover {
    cursor: pointer;
}

.selected-skin-type {
    color: white;
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.textarea-input {
    height: 50px;
}

/* HOME COMPONENT */
.featured-wrapper {
    margin: 40px 50px
}

.featured-header {
    margin-bottom: 15px
}

.home-product-card {
    padding: 5px;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: background-color 0.5s ease;
}

.home-product-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.home-product-image {
    width: 100%;
    height: 120px;
    overflow: hidden;
}

.home-product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.home-product-header-wrapper {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.home-product-name {
    font-size: 8px;
    color: rgba(0, 0, 0, 0.5);
}

.add-to-bag-button {
    margin: 5px 5px 10px 5px;
    width: calc(100% - 10px);
}

/* PRODUCT COMPONENT */
.quantity-prompt {
    display: flex;
    justify-content: space-between;
}

.quantity-box {
    width: 20px;
    height: 20px;
    text-align: center;
}

.quantity-adjust {
    display: flex;
    align-items: center;
    gap: 5px
}

.quantity-action {
    transition: color 0.3s ease
}

.quantity-action:hover {
    cursor: pointer;
    color: rgba(241, 101, 101, 1);
}

/* NEWSLETTER COMPONENT */
.newletter-container {
    max-width: 100%;
    display: flex;
    margin: 40px 50px 80px 50px;
    height: 150px;
}

.newletter-pic {
    background-image: url(../src/assets/images/home/newsletter-pic.png);
    background-size: cover;
    background-position: 50% 50%;
    height: 100%;
    border-radius: 50% 0% 0% 0%;
}

.newsletter-content {
    padding: 0px 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    background-color: rgba(211, 211, 211,0.2);
    border-radius: 0% 0% 50% 0%;
}

.newsletter-content1 {
    font-size: 12px;
    text-align: center;
    font-weight: bold;
}

.newsletter-content2 {
    text-align: justify;
}

.newsletter-content3 button {
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.newsletter-content3 button:hover {
    background-color: rgba(128, 128, 128, 0.6);
    border: 1px solid rgba(128, 128, 128, 0.6);
}

.button-submit {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.newsletter-content3 input {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    width: 100%;
    height: 20px;
    padding-left: 5px;
    background-color: rgba(211, 211, 211,0.1);
}

@media (min-width: 576px) {
    body {
        font-size: 10px
    }

    /* SHARED */
    /* logo */
    #logo {
        font-size: 15px;
    }

    /* form */
    .form-container {
        gap: 12px
    }

    input {
        height: 28px;
    }

    .input-half-width {
        gap: 12px
    }

    .submit-button-container {
        margin-top: 12px;
    }

    .form-header {
        font-size: 15px;
        margin-bottom: 10px;
    }

    /* form error message */
    .form-message {
        font-size: 8px;
        line-height: 9px
    }

    .form-error-box,
    .form-success-box {
        height: 28px;
        padding: 10px;
    }

    .form-icon {
        margin-right: 3px
    }

    /* buttons */
    .button-border,
    .button-full {
        width: 65px;
        height: 28px;
    }

    /* FOOTER COMPONENT */
    footer {
        padding: 30px 50px;
        font-size: 9px;
    }

    .footer-head {
        font-size: 10px;
        margin-bottom: 7px
    }

    .footer-details {
        gap: 3px
    }

    /* CTA COMPONENT */
    .cta-background {
        height: 300px;
    }

    .cta-content-wrapper {
        height: 300px;
        padding: 0px 40px
    }

    .cta-header {
        font-size: 15px;
        margin-bottom: 12px
    }

    .cta-button {
        margin-top: 22px;
    }

    /* NAVBAR COMPONENT */
    /* nav */
    .nav-login {
        padding: 25px 30px 10px 30px;
    }

    /* menu button */
    .nav-menu {
        display: none;
    }

    /* nav login icon */
    .nav-profile-icon {
        font-size: 20px;
    }

    .nav-dropdown-content {
        top: 55px;
        right: 20px;
    }

    /* tabs */
    #tabs-large {
        display: flex;
    }

    /* search bar */
    .searchbar-container {
        top: 71px;
    }

    /* NAV CONTENT */
    .content-wrap {
        display: flex;
        width: 100%;
    }

    .content-nav {
        width: 170px;
    }

    .content-body {
        width: calc(100% - 170px);
    }

    /* SIDE NAV COMPONENT */
    .side-nav-wrapper {
        flex-direction: column;
        justify-content: flex-start;
        left: 0; 
        width: 170px;
        height: 100vh;
        padding: 90px 0px 0px 0px;
        border-top: transparent;
        gap: 0px;
    }

    .side-nav-items {
        flex-direction: row;
        gap: 10px;
        font-size: 13px;
        width: 170px;
        padding: 11px 0px 11px 30px;
        border-radius: 0px 10px 10px 0px;
        transition: background-color 0.3s ease;
    }

    .side-nav-items:hover {
        cursor: pointer;
        background-color: rgba(193,185,176,0.7);
        color: white;
    }

    .activePage {
        background-color: rgba(193,185,176,0.4);
    }

    .side-nav-icon {
        font-size: 15px;
    }

    /* SELLER NAVBAR COMPONENT */
    #seller-platform-logo {
        font-size: 13px
    }

    /* SELLER SIGNUP COMPONENT */
    .seller-signup-background {
        height: 570px;
    }

    .signup-form-container {
        height: 570px;
    }

    .signup-form {
        width: 400px;
        padding: 40px;
    }

    /* LOGIN COMPONENT */
    .seller-login-background {
        height: 570px;
    }

    .login-form {
        width: 300px;
        padding: 40px;
    }

    /* VERIFY COMPONENT */
    .verify-wrapper {
        padding: 60px 150px;
    }

    .verify-header {
        font-size: 15px;
        margin: 12px;
    }

    .verify-email {
        margin-bottom: 40px;
    }

    .verify-digit-input {
        gap: 12px;
        margin-top: 12px;
    }

    .verify-digit-input input {
        height: 35px;
        width: 30px;
    }

    .verify-button {
        margin-top: 15px;
    }

    /* PROFILE COMPONENT */
    .profile-wrapper {
        margin: 60px 0px 90px 0px;
    }

    .profile-picture {
        font-size: 70px;
    }

    .profile-image {
        width: 70px;
        height: 70px;
    }

    .profile-details-section {
        width: 60vw;
    }

    .section-header {
        height: 28px;
        font-size: 12px;
        margin-top: 40px;
    }

    .section-items {
        gap: 25px
    }

    .profile-details-items {
        gap: 40px;
        padding: 0px 40px;
    }

    .section-icon {
        width: 30px;
        height: 30px;
    }

    .details-icon {
        font-size: 11px;
    }

    .section-details-header {
        font-size: 8px;
    }

    .update-button-div {
        gap: 7px
    }

    .cancel-button {
        width: 90px;
        margin-top: 30px;
    }

    .update-button,
    .delete-button {
        width: 90px;
        margin-top: 30px;
    }

    .profile-input {
        width: 170px;
    }

    /* delete account confirmation */
    .delete-account-content {
        width: 340px;
        height: 210px;
        padding: 22px 14px;
    }

    .delete-header {
        font-size: 14px;
        margin-bottom: 12px;
    }

    .warning-content-container {
        margin-top: 8px;
    }

    .warning-side {
        width: 4px;
    }

    .warning-content {
        width: 305px;
        padding: 7px 12px
    }

    .warning-header-content {
        gap: 6px
    }

    .warning-description {
        margin-top: 6px;
    }

    .warning-action {
        gap: 6px;
        margin-top: 15px;
    }

    /* LISTINGS COMPONENT */
    .page-header {
        font-size: 13px;
    }

    .listings-actions {
        gap: 17px;
        margin-bottom: 22px;
    }

    .listings-tabs {
        gap: 3px;
    }

    .listing-tab {
        width: 70px;
    }

    .add-listing-icon {
        font-size: 17px;
    }

    /* CARDS */
    .product-cards {
        padding: 5px 10px;
    }

    .product-card {
        padding: 7px;
        height: 230px;
    }

    .card-content {
        margin: 5px 0px 2px 7px;
    }

    .listing-name {
        font-size: 11px;
    }

    .listing-detail {
        font-size: 9px;
    }

    .listing-action {
        gap: 8px;
        padding: 2px 13px;
        margin: 10px 0px 3px 0px;
    }

    .listing-action-icon {
        font-size: 9px;
    }

    /* PRODUCT COMPONENT */
    .product-wrapper {
        margin: 40px 60px;
        height: 70vh
    }

    .product-image {
        width: 170px;
        height: 220px;
        margin-bottom: 15px;
    }

    .product-name {
        font-size: 13px;
    }

    .skin-type-badges {
        gap: 10px;
        margin-bottom: 25px;
    }

    .skin-type-badge {
        font-size: 8px;
    }

    .product-details {
        margin-top: 12px;
    }

    /* actions */
    .product-actions {
        gap: 4px;
        top: 180px;
        right: 30px;
    }

    /* ADD PRODUCT COMPONENT */
    .add-product-form-wrapper {
        margin: 50px 60px 60px 60px
    }

    .add-product-form {
        margin-top: 25px;
        gap: 17px
    }

    .add-product-image {
        width: 70px;
        height: 90px;
        margin-top: 5px;
    }

    .category-select {
        height: 28px;
    }

    .skin-type-options {
        gap: 12px
    }

    .textarea-input {
        height: 60px
    }

    /* HOME COMPONENT */
    .featured-wrapper {
        margin: 40px 60px
    }

    .home-product-card {
        padding: 5px;
    }

    .home-product-image {
        height: 130px;
    }

    .home-product-name {
        font-size: 9px;
    }

    .add-to-bag-button {
        margin: 5px 5px 15px 5px;
        width: calc(100% - 10px);
    }

    /* PRODUCT COMPONENT */
    .quantity-box {
        width: 22px;
        height: 22px;
    }

    .quantity-adjust {
        gap: 7px
    }

    /* NEWSLETTER COMPONENT */
    .newletter-container {
        margin: 40px 80px 90px 80px;
        height: 170px;
    }

    .newsletter-content1 {
        font-size: 13px;
    }

    .newsletter-content3 input {
        height: 22px;
        padding-left: 7px;
    }
    
}

@media (min-width: 768px) {
    body {
        font-size: 11px
    }

    /* SHARED */
    /* logo */
    #logo {
        font-size: 16px;
    }

    /* form */
    .form-container {
        gap: 12px
    }

    input {
        height: 32px;
    }

    .submit-button {
        height: 32px !important;
    }

    .form-header {
        font-size: 16px;
        margin-bottom: 12px;
    }

    .form-prompt {
        margin-top: 10px;
    }

    /* form error message */
    .form-message {
        font-size: 9px;
        line-height: 10px
    }

    .form-error-box,
    .form-success-box {
        gap: 4px;
        height: 30px;
        padding: 13px;
    }

    .form-icon {
        margin-right: 4px
    }

    /* buttons */
    .button-border,
    .button-full {
        width: 67px;
        height: 30px;
    }

    .upload-button {
        padding: 4px 7px;
        font-size: 10px;
    }

    /* FOOTER COMPONENT */
    footer {
        padding: 30px 60px;
        font-size: 10px;
    }

    .footer-head {
        font-size: 11px;
        margin-bottom: 9px
    }

    .footer-details {
        gap: 5px
    }

    /* CTA COMPONENT */
    .cta-background {
        height: 350px;
    }

    .cta-content-wrapper {
        height: 350px;
        padding: 0px 50px
    }

    .cta-header {
        font-size: 16px;
        margin-bottom: 14px
    }

    .cta-button {
        margin-top: 24px;
    }

    /* NAVBAR COMPONENT */
    /* nav */
    .nav-login {
        padding: 25px 30px 10px 30px;
    }

    /* navbar row for login */
    .login-items {
        gap: 15px
    }

    /* navbar row for tabs */
    .nav-content {
        padding: 10px 30px;
    }

    .content-items {
        gap: 20px
    }

    /* nav login icon */
    .nav-profile-icon {
        font-size: 22px;
    }

    .nav-dropdown-content {
        top: 60px;
        right: 22px;
    }

    /* cart and search */
    .cart-icon {
        width: 20px;
        height: 20px
    }

    .search {
        width: 25px;
        height: 25px
    }

    /* search bar */
    .searchbar-container {
        top: 95px;
    }

    /* NAV CONTENT */
    .content-nav {
        width: 180px;
    }

    .content-body {
        width: calc(100% - 180px);
    }

    /* SIDE NAV COMPONENT */
    .side-nav-wrapper {
        width: 180px;
        padding: 100px 0px 0px 0px;
    }

    .side-nav-items {
        gap: 12px;
        font-size: 14px;
        width: 180px;
        padding: 12px 0px 12px 32px
    }


    .side-nav-icon {
        font-size: 16px;
    }

    /* SELLER NAVBAR COMPONENT */
    #seller-platform-logo {
        font-size: 14px
    }

    /* SELLER SIGNUP COMPONENT */
    .seller-signup-background {
        height: 560px;
    }

    .signup-form-container {
        height: 560px;
    }

    .signup-form {
        width: 400px;
        padding: 30px 35px;
    }

    /* LOGIN COMPONENT */
    .seller-login-background {
        height: 560px;
    }

    .login-form {
        padding: 30px 35px;
    }

    /* VERIFY COMPONENT */
    .verify-wrapper {
        padding: 60px 220px;
    }

    .verify-header {
        font-size: 16px;
        margin: 14px;
    }

    .verify-email {
        margin-bottom: 45px;
    }

    .verify-digit-input {
        gap: 14px;
        margin-top: 14px;
    }

    .verify-digit-input input {
        height: 40px;
        width: 35px;
    }

    .verify-button {
        margin-top: 20px;
    }

    /* PROFILE COMPONENT */
    .profile-wrapper {
        margin: 70px 0px 100px 0px;
    }

    .profile-picture {
        font-size: 80px;
    }

    .profile-image {
        width: 80px;
        height: 80px;
    }

    .profile-details-section {
        width: 70vw;
    }

    .picture-section {
        gap: 20px
    }

    .section-header {
        height: 30px;
        font-size: 13px;
        margin-top: 45px;
    }

    .section-items {
        gap: 30px
    }

    .profile-details-items {
        gap: 30px;
        padding: 0px 20px;
    }

    .section-icon {
        width: 35px;
        height: 35px;
    }

    .details-icon {
        font-size: 12px;
    }

    .section-details-header {
        font-size: 9px;
    }

    .update-button-div {
        gap: 9px
    }

    .cancel-button {
        width: 100px;
    }

    .update-button,
    .delete-button {
        width: 100px;
    }

    .profile-input {
        width: 140px;
    }

    /* delete account confirmation */
    .delete-account-content {
        width: 380px;
        height: 230px;
        padding: 25px 17px;
    }

    .delete-header {
        font-size: 14px;
        margin-bottom: 12px;
    }

    .warning-content-container {
        margin-top: 10px;
    }

    .warning-side {
        width: 4px;
    }

    .warning-content {
        width: 342px;
        padding: 8px 14px
    }

    .warning-header-content {
        gap: 7px
    }

    .warning-description {
        margin-top: 7px;
    }

    .warning-action {
        gap: 7px;
        margin-top: 20px;
    }

    /* LISTINGS COMPONENT */
    .page-header {
        font-size: 14px;
    }

    .listings-actions {
        gap: 18px;
        margin-bottom: 25px;
    }

    .listings-tabs {
        gap: 4px;
    }

    .listing-tab {
        width: 70px;
        padding: 3px 17px;
    }

    .add-listing-icon {
        font-size: 18px;
    }

    /* CARDS */
    .product-cards {
        padding: 5px 7px;
    }

    .product-card {
        padding: 7px;
        height: 250px;
    }


    .listing-name {
        font-size: 12px;
    }

    .listing-detail {
        font-size: 10px;
    }

    .listing-action {
        gap: 10px;
        padding: 2px 15px;
        margin: 12px 0px 3px 0px;
    }

    .listing-action-icon {
        font-size: 10px;
    }

    /* PRODUCT COMPONENT */
    .product-wrapper {
        margin: 60px 60px;
        height: 50vh
    }

    .product-image {
        width: 180px;
        height: 230px;
        margin-bottom: 0px;
    }

    .product-name {
        font-size: 14px;
    }

    .skin-type-badges {
        gap: 12px;
        margin-bottom: 27px;
    }

    .skin-type-badge {
        font-size: 9px;
    }

    .product-details {
        margin-top: 14px;
    }

    /* actions */
    .product-actions {
        gap: 5px;
        top: 180px;
        right: 40px;
    }

    .no-listing {
        margin-top: 20px;
    }

    /* ADD PRODUCT COMPONENT */
    .add-product-form-wrapper {
        margin: 50px 70px 70px 70px
    }

    .add-product-form {
        gap: 18px
    }

    .add-product-image {
        width: 80px;
        height: 100px;
        margin-top: 8px;
    }

    .category-select {
        height: 32px;
    }

    .skin-type-options {
        gap: 14px
    }

    .textarea-input {
        height: 65px
    }

    /* HOME COMPONENT */
    .featured-wrapper {
        margin: 45px 60px
    }

    .home-product-card {
        padding: 5px;
    }

    .home-product-image {
        height: 160px;
    }

    .home-product-name {
        font-size: 10px;
    }

    .add-to-bag-button {
        margin: 7px 5px 15px 5px;
        width: calc(100% - 10px);
    }

    /* PRODUCT COMPONENT */
    .quantity-box {
        width: 24px;
        height: 24px;
    }

    .quantity-adjust {
        gap: 9px
    }

    /* NEWSLETTER COMPONENT */
    .newletter-container {
        margin: 45px 100px 100px 100px;
        height: 220px;
    }

    .newsletter-content1 {
        font-size: 14px;
    }

    .newsletter-content3 input {
        height: 24px;
        padding-left: 9px;
    }
}

@media (min-width: 992px) {
    body {
        font-size: 12px
    }

    /* SHARED */
    /* logo */
    #logo {
        font-size: 17px;
    }

    /* form */
    input {
        height: 34px;
    }

    .submit-button {
        height: 34px !important;
    }

    .form-header {
        font-size: 17px;
    }

    .form-prompt {
        margin-top: 12px;
    }

    /* buttons */
    .button-border,
    .button-full {
        width: 70px;
        height: 32px;
    }

    /* form error message */
    .form-message {
        font-size: 10px;
        line-height: 11px
    }

    .form-error-box,
    .form-success-box {
        height: 28px;
        padding: 15px;
    }

    .form-icon {
        margin-right: 5px
    }

    /* FOOTER COMPONENT */
    footer {
        padding: 30px 70px;
        font-size: 11px;
    }

    .footer-head {
        font-size: 12px;
        margin-bottom: 10px
    }

    .footer-details {
        gap: 7px
    }

    /* CTA COMPONENT */
    .cta-background {
        height: 370px;
    }

    .cta-content-wrapper {
        height: 370px;
        padding: 0px 70px
    }

    .cta-header {
        font-size: 17px;
        margin-bottom: 16px
    }

    .cta-button {
        margin-top: 26px;
    }

    /* NAVBAR COMPONENT */
    /* nav */
    .nav-login {
        padding: 30px 40px 10px 40px;
    }

    .login-items {
        gap: 20px
    }

    /* navbar row for tabs */
    .nav-content {
        padding: 10px 40px;
    }

    .content-items {
        gap: 25px
    }

    .nav-dropdown-content {
        top: 65px;
        right: 25px;
    }

    /* cart and search */
    .cart-icon {
        width: 23px;
        height: 23px
    }

    .search {
        width: 28px;
        height: 28px
    }

    /* search bar */
    .searchbar-container {
        top: 104px;
    }

    /* NAV CONTENT */
    .content-nav {
        width: 190px;
    }

    .content-body {
        width: calc(100% - 190px);
    }

    /* SIDE NAV COMPONENT */
    .side-nav-wrapper {
        width: 190px;
        padding: 110px 0px 0px 0px;
    }

    .side-nav-items {
        gap: 13px;
        font-size: 15px;
        width: 190px;
        padding: 13px 0px 13px 33px
    }


    .side-nav-icon {
        font-size: 17px;
    }

    /* SELLER NAVBAR COMPONENT */
    #seller-platform-logo {
        font-size: 15px
    }

    /* SELLER SIGNUP COMPONENT */
    .signup-form {
        width: 420px;
    }

    /* LOGIN COMPONENT */
    .login-form {
        width: 320px;
    }

    /* VERIFY COMPONENT */
    .verify-wrapper {
        padding: 50px 300px;
    }

    .verify-header {
        font-size: 17px;
        margin: 16px;
    }

    .verify-email {
        margin-bottom: 50px;
    }

    .verify-digit-input {
        gap: 16px;
        margin-top: 16px;
    }

    .verify-digit-input input {
        height: 45px;
        width: 40px;
    }

    .verify-button {
        margin-top: 25px;
    }

    /* PROFILE COMPONENT */
    .profile-wrapper {
        margin: 80px 0px 110px 0px;
    }

    .profile-picture {
        font-size: 90px;
    }

    .profile-image {
        width: 90px;
        height: 90px;
    }

    .section-header {
        height: 32px;
        font-size: 14px;
        margin-top: 50px;
    }

    .section-icon {
        width: 40px;
        height: 40px;
    }

    .details-icon {
        font-size: 13px;
    }

    .section-details-header {
        font-size: 10px;
    }

    .section-items {
        padding: 0px 20px;
    }

    .cancel-button {
        width: 110px;
    }

    .update-button,
    .delete-button {
        width: 110px;
    }

    .profile-input {
        width: 160px;
    }

    /* delete account confirmation */
    .delete-account-content {
        width: 420px;
        height: 260px;
        padding: 30px 20px;
    }

    .delete-header {
        font-size: 15px;
        margin-bottom: 12px;
    }

    .warning-side {
        width: 5px;
    }

    .warning-content {
        width: 381px;
        padding: 10px 16px
    }

    .warning-header-content {
        gap: 8px
    }

    .warning-description {
        margin-top: 8px;
    }

    .warning-action {
        gap: 10px;
        margin-top: 25px;
    }

    /* LISTINGS COMPONENT */
    .page-header {
        font-size: 15px;
    }

    .listings-actions {
        gap: 20px
    }

    .listings-tabs {
        gap: 5px;
    }

    .listing-tab {
        width: 75px;
        padding: 3px 20px;
    }

    .add-listing-icon {
        font-size: 20px;
    }

    /* PRODUCT COMPONENT */
    .product-wrapper {
        margin: 60px 80px
    }

    .product-image {
        width: 200px;
        height: 250px;
    }

    .product-name {
        font-size: 15px;
    }

    .skin-type-badge {
        font-size: 10px;
    }

    .product-details {
        margin-top: 15px;
    }

    /* actions */
    .product-actions {
        gap: 6px;
        top: 180px;
        right: 50px;
    }

    /* ADD PRODUCT COMPONENT */
    .add-product-form-wrapper {
        margin: 60px 80px 90px 80px
    }

    .add-product-form {
        margin-top: 30px;
        gap: 20px
    }

    .add-product-image {
        width: 90px;
        height: 110px;
        margin-top: 10px;
    }

    .skin-type-options {
        gap: 15px
    }

    .textarea-input {
        height: 70px
    }

    /* HOME COMPONENT */
    .featured-wrapper {
        margin: 50px 70px
    }

    .home-product-card {
        padding: 5px;
    }

    .home-product-image {
        height: 140px;
    }

    .home-product-name {
        font-size: 11px;
    }

    .add-to-bag-button {
        margin: 15px 5px 15px 5px;
        width: calc(100% - 10px);
    }

    /* PRODUCT COMPONENT */
    .quantity-box {
        width: 25px;
        height: 25px;
    }

    .quantity-adjust {
        gap: 10px
    }

    /* NEWSLETTER COMPONENT */
    .newletter-container {
        margin: 50px 140px 120px 140px;
        height: 250px;
    }

    .newsletter-content1 {
        font-size: 15px;
    }

    .newsletter-content3 input {
        height: 25px;
        padding-left: 10px;
    }
}