.order-wrapper {
    margin: 40px 40px 100px 40px
}

.order-page-header {
    margin-bottom: 20px
}

.order-header {
    font-weight: bold;
    font-size: 10px;
}

.order-header:hover {
    cursor: pointer;
}

.order-list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.product-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.summary-container {
    display: flex;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 5px rgba(205, 205, 205, 0.1);
}

.summary-container {
    flex-direction: column;
}

.summary-items-header {
    font-weight: bold;
}

.order-seller {
    font-weight: bold;
    font-size: 8px;
    font-style: italic;
}

.order-list {
    color: rgba(0,0,0,0.7)
}

.summary-items {
    display: flex;
    justify-content: space-between;
}

.summary-divider {
    border-top: 1px solid rgba(0,0,0,0.1);
    margin: 4px 0px
}

@media (min-width: 576px) {
    .order-wrapper {
        margin: 20px 50px 100px 50px
    }
    
    .order-header {
        font-size: 11px;
    }
    
    .order-list-wrapper {
        gap: 25px
    }
    
    .product-wrapper {
        gap: 12px;
    }
    
    .summary-container {
        padding: 12px;
    }
    
    .order-seller {
        font-size: 9px;
    }
    
    .summary-divider {
        margin: 5px 0px
    }
}

@media (min-width: 768px) {
    .order-wrapper {
        margin: 20px 65px 100px 65px
    }
    
    .order-page-header {
        margin-bottom: 23px
    }
    
    .order-header {
        font-size: 12px;
    }
    
    .order-list-wrapper {
        gap: 30px
    }
    
    .product-wrapper {
        gap: 14px;
        margin-top: 12px;
    }
    
    .summary-container {
        padding: 15px;
    }
    
    .order-seller {
        font-size: 10px;
    }
    
    .summary-divider {
        margin: 6px 0px
    }
}

@media (min-width: 992px) {
    .order-wrapper {
        margin: 20px 75px 100px 75px
    }
    
    .order-header {
        font-size: 13px;
    }
    
    .order-list-wrapper {
        gap: 35px
    }
    
    .product-wrapper {
        gap: 16px;
    }
    
    .order-seller {
        font-size: 11px;
    }
    
    .summary-divider {
        margin: 7px 0px
    }
}